{% extends 'base.html.twig' %}

{% block title %}Connexion - WorkTogether{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/authenticator.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">

                <div class="card shadow-sm p-4 border-0 bg-light">
                    <h1 class="h3 mb-4 fw-bold text-center">Connexion</h1>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-info">
                            Vous êtes connecté avec {{ app.user.userIdentifier }} <br>
                            <a href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    {% endif %}

                    <form method="post" novalidate>

                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" autofocus>
                            <div id="email-feedback" class="form-text small mt-1"></div>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password">
                        </div>

                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                        <div class="form-check mt-4 mb-3">
                            <input type="checkbox" name="_remember_me" id="_remember_me" class="form-check-input">
                            <label class="form-check-label text-muted" for="_remember_me">Se souvenir de moi</label>
                        </div>

                        <button class="btn btn-primary w-100 mt-3 py-2" type="submit" id="btn-submit" disabled>
                            Se connecter
                        </button>

                    </form>

                    <div class="text-center mt-4">
                        <a href="{{ path('app_register') }}" class="text-decoration-none text-muted small">
                            Pas encore de compte ? Inscrivez-vous
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
